.beer-search {
  background-color: var(--color--midtone);
  display: flex;
}

.beer-search__button {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
  outline: none;
  padding: var(--spacing--small);
  width: 3vw;

}

.beer-search__button:hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 0.3);
}
