:root {
  /* Spacings */
  --spacing--small: 1rem;
  --spacing--medium: 2rem;
  --spacing-large: 4rem;

  /* Font sizes */
  --font-size--small: 0.8rem;
  --font-size--large: 1.4rem;
  --font-size--huge: 2rem;

  /* Colors */
  --color--primary: rgb(128, 173, 215);
  --color--secondary: rgb(10, 189, 160);
  --color--highlight: rgb(235, 242, 234);
  --color--midtone: rgb(212, 220, 169);
  --color--shade: rgb(191, 157, 122);
  --color--dark: rgb(51, 51, 51);
  --color--light: rgb(252, 252, 252);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
